.navbar {
  height: 90px;
  position: fixed;
  width: 55%;
  background-color: #F5F5FB;;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  .container-nav {
    width: 100%;
    display: flex;
    padding: 24px 20px 10px 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left {
    }
    .right {
      color: #768492
    }
  }
}


