.rightbar {
  width: 25%;
  display: flex;
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: #FFFFFF66;
  z-index: 999;
  .container {
    padding: 190px 25px 0 25px;
    display: flex;
    flex-direction: column;
    .cards {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      .card {
      }
    }
    .messages {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .card {

      }
    }
  }
}